.inputContainer {
    margin: 8px;
    position: relative;
    align-items: flex-start;
    height: fit-content;
    display: flex;
    width: fit-content;
    flex-direction: column;
    border: 2px solid transparent;
    padding: 5px;
  }
  .label {
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 0.65em;
  }
  .inputContainer.validated {
    margin: 15px 15px calc(0.9em + 16px) 15px;
  }
  .input {
    padding: 8px;
    border: none;
    font-family: inherit;
    line-height: 15px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 1px 2px #8d8d88;
    background: white;
  }
  .input:focus {
    outline: none;
  }
  .inputDisabled::placeholder {
    color: #a3a2a2;
  }
  .error {
    color: var(--statusError);
  }
  .errorContainer {
    border-color: var(--statusError);
  }
  .required::after {
    content: ' *';
    font-size: 1.5em;
    color: var(--statusError);
  }
  
  /*--- CHECKBOX Y RADIOS ---*/
  .checkContainer {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: calc(1em + 8px);
    /*margin: 0 auto 16px;*/
    cursor: pointer;
    user-select: none;
    line-height: 1em;
    width: fit-content;
    justify-content: center;
  }
  .checkContainer.disabled {
    opacity: 0.4;
  }
  .checkContainer > input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkContainer .checkmark {
    position: absolute;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: white;
    border: solid 1px white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
  .checkContainer .checkmark:after {
    position: absolute;
    content: '';
    width: 85%;
    height: 85%;
    transition: transform 0.2s ease-in-out;
    transform: translate(-50%, -50%) scale(0);
    left: 50%;
    top: 50%;
    transform-origin: center;
  }
  .checkContainer input:checked ~ .checkmark:after {
    background-color: var(--blueNavy);
    transform: translate(-50%, -50%) scale(1);
  }
  
  .checkContainer .checkmark.rounded,
  .checkContainer .checkmark.rounded:after {
    border-radius: 50%;
  }