.createOrdersPanelContainer{
    flex: 2;
    padding: 12px;
}

.createOrdersPanelContainer>*{
    margin: 5px;
}

.createOrderForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
